<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TDChecker.Properties.Settings>
            <setting name="BellType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BellSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadListNum" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReadCycle" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="KeyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </TDChecker.Properties.Settings>
    </userSettings>
</configuration>